#header{
    background-color:darkcyan ;
    margin-top: 5%;
    margin-bottom:  5%;
    font-family: 'Hubballi', cursive;
}
body{
    background-color: rgb(250, 244, 237);
}
#nameAndTitle{
    background-color:rgb(250, 244, 237);
    width: 80%;
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
}
#nameAndTitle h1, h2{
    margin: 0;
}
h1, h2, h3{
    text-transform: uppercase;
}

#contact{
    list-style-type: none;
}
#contact i{
    width: 5vw;
    color:darkcyan;
}
.card h3{
    font-family: 'Hubballi', cursive;
}
.card{
    font-family: Montserrat;
    border: 1px solid rgb(196, 194, 194);
    border-radius: 15px;
    padding: 20px;
}
@media screen and (max-width: 768px) {
    #container {
        display: block;
    }

    #sidebar,
    #content {
        margin: 0;
    }

    #sidebar .card,
    #content .card {
        margin-bottom: 20px;
    }
}
@media screen and (min-width: 768px) {
    #container {
        display: grid;
        grid-template-columns: 30% auto;
        grid-column-gap: 2vw;
    }

    #sidebar,
    #content {
        display: flex;
        flex-direction: column;
        row-gap: 2vh;
    }
}
